In [ ]:
efrom google.colab import drive
drive.mount('/content/gdrive')
import numpy as np
from ftplib import FTP
import os, sys, os.path
import pandas as pd
from datetime import datetime
from urllib import request
from tqdm import tqdm

Mounted at /content/gdrive

In [ ]:
stationsdaily = pd.read_csv('/content/gdrive/MyDrive/rainfall-forecast/verification_validation/final_station_data_daily_v2.csv') 
# stationsmonthly = pd.read_csv('/content/gdrive/MyDrive/rainfall-forecast/verification_validation/final_station_data_monthly.csv')
bias = pd.read_csv('/content/gdrive/MyDrive/rainfall-forecast/precipitation_data/CHIRPS/Stations_used_for_Bias/Complete_CSV/BiasSt._Monthly_v2')

In [ ]:
print(stationsdaily)
# print(stationsmonthly)
print(bias)

print(stationsdaily.isna().sum())
print(stationsdaily['638870-99999'].isna().sum())

      Unnamed: 0  TA00073  ...  yanz-kig-gr3.umva  muh-gah-gr1.umva
0     2016-01-01      0.0  ...                NaN               NaN
1     2016-01-02      0.0  ...                NaN               NaN
2     2016-01-03      0.0  ...                NaN               NaN
3     2016-01-04      0.0  ...                NaN               NaN
4     2016-01-05      0.8  ...                NaN               NaN
...          ...      ...  ...                ...               ...
1822  2020-12-27      0.1  ...                NaN               NaN
1823  2020-12-28      0.0  ...                NaN               NaN
1824  2020-12-29      0.1  ...                NaN               NaN
1825  2020-12-30      2.9  ...                NaN               NaN
1826  2020-12-31     14.5  ...                NaN               NaN

[1827 rows x 104 columns]
     latitude  longitude  country_seqnum  ... station_name year/month         STNID
0     -1.3333    31.8167              44  ...       BUKOBA    2016/01  637290-99999
1     -6.2500    35.7333              44  ...       DODOMA    2016/01  638620-99999
2    -10.6833    35.6667              44  ...       SONGEA    2016/01  639620-99999
3     -7.9500    31.6000              44  ...   SUMBAWANGA    2016/01  638810-99999
4     -6.1667    39.2000              44  ...     ZANZIBAR    2016/01  638700-99999
..        ...        ...             ...  ...          ...        ...           ...
809   -0.4333    36.9667              22  ...        NYERI    2020/12  637170-99999
810   -3.4000    38.5000              22  ...          VOI    2020/12  637930-99999
811   -2.4700    32.9200              44  ...       MWANZA    2020/12  637560-99999
812   -7.6700    35.7500              44  ...       IRINGA    2020/12  638870-99999
813   -0.2670    36.1000              22  ...       NAKURU    2020/12  637140-99999

[814 rows x 7 columns]
Unnamed: 0              0
TA00073                 1
TA00024                 2
TA00026                 2
TA00070                 2
                     ...
shi-rur-gr1.umva     1241
tab-tab-gr3.umva     1223
tem-rus-gr5.umva     1190
yanz-kig-gr3.umva    1237
muh-gah-gr1.umva     1236
Length: 104, dtype: int64
45

In [ ]:
# date = datetime.strptime(stationsdaily['Unnamed: 0'][5], '%Y-%m-%d')
# print(date)
# datef = datetime.strftime(date,'%Y-%m-%d',)
# print(datef)

In [ ]:
date_range_d = pd.date_range('01/01/2016', '31/12/2020').tolist()
date_range_m = pd.date_range('01/01/2016', '31/12/2020', freq='M').tolist()

stationsdaily_df = pd.DataFrame()
stationsdaily['year/month'] = ''
# stationsmonthly['year/month'] = ''

for i in range(len(stationsdaily)):
  date = date_range_d[i]
  year = date.date().strftime('%Y')
  month = date.date().strftime('%m')
  stationsdaily['year/month'][i] = year + '/' + month
  print(stationsdaily['year/month'])

# for i in range(len(stationsmonthly)):
#   date = date_range_m[i]
#   year = date.date().strftime('%Y')
#   month = date.date().strftime('%m')
#   stationsmonthly['year/month'][i] = year + '/' + month
#   print(stationsmonthly['year/month'])

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:12: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  if sys.path[0] == '':

Streaming output truncated to the last 5000 lines.
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object
0       2016/01
1       2016/01
2       2016/01
3       2016/01
4       2016/01
         ...
1822
1823
1824
1825
1826
Name: year/month, Length: 1827, dtype: object

In [ ]:
stationsdaily = stationsdaily.set_index('year/month')
# stationsmonthly = stationsmonthly.set_index('year/month')

In [ ]:
for i in range(len(bias)):
  biasdate = bias['year/month'][i]
  biasid = bias.STNID[i]
  idfull = stationsdaily.loc[:,biasid]
  temp_nan = idfull.mask(idfull.index == biasdate)
  print(temp_nan)
  stationsdaily[biasid] = temp_nan

# for i in range(len(bias)):
#   biasdate = bias['year/month'][i]
#   biasid = bias.STNID[i]
#   idfull = stationsmonthly.loc[:,biasid]
#   temp_nan = idfull.mask(idfull.index == biasdate)
#   print(temp_nan)
#   stationsmonthly[biasid] = temp_nan

Streaming output truncated to the last 5000 lines.
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    8.9
Name: 637200-99999, Length: 1827, dtype: float64
year/month
2016/01      NaN
2016/01      NaN
2016/01      NaN
2016/01      NaN
2016/01      NaN
           ...
2020/12      0.0
2020/12      0.0
2020/12      0.0
2020/12      0.0
2020/12    180.1
Name: 636120-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     0.0
2020/12     0.0
2020/12     0.0
2020/12     NaN
2020/12    15.0
Name: 636950-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     0.0
2020/12     0.0
2020/12     0.0
2020/12     6.1
2020/12    31.0
Name: 637170-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 637930-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    3.0
2020/12    0.3
2020/12    0.0
2020/12    NaN
Name: 637560-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     6.3
2020/12    14.0
2020/12     0.8
2020/12     0.0
2020/12     2.0
Name: 638870-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 637140-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12    23.9
2020/12    55.1
2020/12     0.0
2020/12     0.0
2020/12     0.5
Name: 637290-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    1.0
2020/12    0.0
2020/12    7.9
2020/12    8.4
2020/12    0.0
Name: 638620-99999, Length: 1827, dtype: float64
year/month
2016/01     5.1
2016/01     0.0
2016/01     0.0
2016/01    30.0
2016/01     3.0
           ...
2020/12     3.6
2020/12     3.0
2020/12     0.0
2020/12     0.0
2020/12     0.8
Name: 638010-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     0.0
2020/12     2.0
2020/12    14.0
2020/12     4.1
2020/12    24.9
Name: 639620-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    1.0
2020/12    4.1
2020/12    1.0
2020/12    3.0
2020/12    1.8
Name: 638810-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    1.5
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
Name: 638700-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 636860-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    8.9
Name: 637200-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
Name: 636610-99999, Length: 1827, dtype: float64
year/month
2016/01      NaN
2016/01      NaN
2016/01      NaN
2016/01      NaN
2016/01      NaN
           ...
2020/12      0.0
2020/12      0.0
2020/12      0.0
2020/12      0.0
2020/12    180.1
Name: 636120-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     0.0
2020/12     0.0
2020/12     0.0
2020/12     NaN
2020/12    15.0
Name: 636950-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 637930-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    3.0
2020/12    0.3
2020/12    0.0
2020/12    NaN
Name: 637560-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     6.3
2020/12    14.0
2020/12     0.8
2020/12     0.0
2020/12     2.0
Name: 638870-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 637140-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12    23.9
2020/12    55.1
2020/12     0.0
2020/12     0.0
2020/12     0.5
Name: 637290-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    1.0
2020/12    0.0
2020/12    7.9
2020/12    8.4
2020/12    0.0
Name: 638620-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     0.0
2020/12     2.0
2020/12    14.0
2020/12     4.1
2020/12    24.9
Name: 639620-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    1.5
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
Name: 638700-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 636860-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
Name: 636610-99999, Length: 1827, dtype: float64
year/month
2016/01      NaN
2016/01      NaN
2016/01      NaN
2016/01      NaN
2016/01      NaN
           ...
2020/12      0.0
2020/12      0.0
2020/12      0.0
2020/12      0.0
2020/12    180.1
Name: 636120-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     0.0
2020/12     0.0
2020/12     0.0
2020/12     NaN
2020/12    15.0
Name: 636950-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 637930-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    3.0
2020/12    0.3
2020/12    0.0
2020/12    NaN
Name: 637560-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     6.3
2020/12    14.0
2020/12     0.8
2020/12     0.0
2020/12     2.0
Name: 638870-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 637140-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12    23.9
2020/12    55.1
2020/12     0.0
2020/12     0.0
2020/12     0.5
Name: 637290-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    1.0
2020/12    0.0
2020/12    7.9
2020/12    8.4
2020/12    0.0
Name: 638620-99999, Length: 1827, dtype: float64
year/month
2016/01     5.1
2016/01     0.0
2016/01     0.0
2016/01    30.0
2016/01     3.0
           ...
2020/12     3.6
2020/12     3.0
2020/12     0.0
2020/12     0.0
2020/12     0.8
Name: 638010-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     0.0
2020/12     2.0
2020/12    14.0
2020/12     4.1
2020/12    24.9
Name: 639620-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    1.0
2020/12    4.1
2020/12    1.0
2020/12    3.0
2020/12    1.8
Name: 638810-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    1.5
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
Name: 638700-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 636860-99999, Length: 1827, dtype: float64
year/month
2016/01    0.0
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    0.0
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
Name: 637990-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    3.0
2020/12    0.3
2020/12    0.0
2020/12    NaN
Name: 637560-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     6.3
2020/12    14.0
2020/12     0.8
2020/12     0.0
2020/12     2.0
Name: 638870-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12    23.9
2020/12    55.1
2020/12     0.0
2020/12     0.0
2020/12     0.5
Name: 637290-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    1.0
2020/12    0.0
2020/12    7.9
2020/12    8.4
2020/12    0.0
Name: 638620-99999, Length: 1827, dtype: float64
year/month
2016/01     5.1
2016/01     0.0
2016/01     0.0
2016/01    30.0
2016/01     3.0
           ...
2020/12     3.6
2020/12     3.0
2020/12     0.0
2020/12     0.0
2020/12     0.8
Name: 638010-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     0.0
2020/12     2.0
2020/12    14.0
2020/12     4.1
2020/12    24.9
Name: 639620-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    1.0
2020/12    4.1
2020/12    1.0
2020/12    3.0
2020/12    1.8
Name: 638810-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    1.5
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
Name: 638700-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 636860-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    8.9
Name: 637200-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
Name: 636610-99999, Length: 1827, dtype: float64
year/month
2016/01      NaN
2016/01      NaN
2016/01      NaN
2016/01      NaN
2016/01      NaN
           ...
2020/12      0.0
2020/12      0.0
2020/12      0.0
2020/12      0.0
2020/12    180.1
Name: 636120-99999, Length: 1827, dtype: float64
year/month
2016/01    0.0
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    0.0
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
Name: 637990-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     0.0
2020/12     0.0
2020/12     0.0
2020/12     NaN
2020/12    15.0
Name: 636950-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     0.0
2020/12     0.0
2020/12     0.0
2020/12     6.1
2020/12    31.0
Name: 637170-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 637930-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    3.0
2020/12    0.3
2020/12    0.0
2020/12    NaN
Name: 637560-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     6.3
2020/12    14.0
2020/12     0.8
2020/12     0.0
2020/12     2.0
Name: 638870-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 637140-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12    23.9
2020/12    55.1
2020/12     0.0
2020/12     0.0
2020/12     0.5
Name: 637290-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    1.0
2020/12    0.0
2020/12    7.9
2020/12    8.4
2020/12    0.0
Name: 638620-99999, Length: 1827, dtype: float64
year/month
2016/01     5.1
2016/01     0.0
2016/01     0.0
2016/01    30.0
2016/01     3.0
           ...
2020/12     3.6
2020/12     3.0
2020/12     0.0
2020/12     0.0
2020/12     0.8
Name: 638010-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    1.5
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
Name: 638700-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 636860-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    8.9
Name: 637200-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
Name: 636610-99999, Length: 1827, dtype: float64
year/month
2016/01      NaN
2016/01      NaN
2016/01      NaN
2016/01      NaN
2016/01      NaN
           ...
2020/12      0.0
2020/12      0.0
2020/12      0.0
2020/12      0.0
2020/12    180.1
Name: 636120-99999, Length: 1827, dtype: float64
year/month
2016/01    0.0
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    0.0
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
Name: 637990-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     0.0
2020/12     0.0
2020/12     0.0
2020/12     6.1
2020/12    31.0
Name: 637170-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 637930-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    3.0
2020/12    0.3
2020/12    0.0
2020/12    NaN
Name: 637560-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 637140-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12    23.9
2020/12    55.1
2020/12     0.0
2020/12     0.0
2020/12     0.5
Name: 637290-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    1.0
2020/12    0.0
2020/12    7.9
2020/12    8.4
2020/12    0.0
Name: 638620-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    1.0
2020/12    4.1
2020/12    1.0
2020/12    3.0
2020/12    1.8
Name: 638810-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    1.5
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
Name: 638700-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 636860-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    8.9
Name: 637200-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
Name: 636610-99999, Length: 1827, dtype: float64
year/month
2016/01      NaN
2016/01      NaN
2016/01      NaN
2016/01      NaN
2016/01      NaN
           ...
2020/12      0.0
2020/12      0.0
2020/12      0.0
2020/12      0.0
2020/12    180.1
Name: 636120-99999, Length: 1827, dtype: float64
year/month
2016/01    0.0
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    0.0
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
Name: 637990-99999, Length: 1827, dtype: float64
year/month
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
2016/01     NaN
           ...
2020/12     0.0
2020/12     0.0
2020/12     0.0
2020/12     6.1
2020/12    31.0
Name: 637170-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    0.0
2020/12    2.0
Name: 637930-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...
2020/12    0.0
2020/12    3.0
2020/12    0.3
2020/12    0.0
2020/12    NaN
Name: 637560-99999, Length: 1827, dtype: float64
year/month
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
2016/01    NaN
          ...

In [ ]:
print(stationsdaily)
# print(stationsmonthly)

            Unnamed: 0  TA00073  ...  yanz-kig-gr3.umva  muh-gah-gr1.umva
year/month                       ...
2016/01     2016-01-01      0.0  ...                NaN               NaN
2016/01     2016-01-02      0.0  ...                NaN               NaN
2016/01     2016-01-03      0.0  ...                NaN               NaN
2016/01     2016-01-04      0.0  ...                NaN               NaN
2016/01     2016-01-05      0.8  ...                NaN               NaN
...                ...      ...  ...                ...               ...
2020/12     2020-12-27      0.1  ...                NaN               NaN
2020/12     2020-12-28      0.0  ...                NaN               NaN
2020/12     2020-12-29      0.1  ...                NaN               NaN
2020/12     2020-12-30      2.9  ...                NaN               NaN
2020/12     2020-12-31     14.5  ...                NaN               NaN

[1827 rows x 104 columns]

In [ ]:
stationsdaily = stationsdaily.set_index('Unnamed: 0')
# stationsmonthly = stationsmonthly.set_index('Unnamed: 0')

print(stationsdaily)
# print(stationsmonthly)

            TA00073  TA00024  ...  yanz-kig-gr3.umva  muh-gah-gr1.umva
Unnamed: 0                    ...
2016-01-01      0.0      0.2  ...                NaN               NaN
2016-01-02      0.0      0.2  ...                NaN               NaN
2016-01-03      0.0      0.1  ...                NaN               NaN
2016-01-04      0.0      7.5  ...                NaN               NaN
2016-01-05      0.8      0.9  ...                NaN               NaN
...             ...      ...  ...                ...               ...
2020-12-27      0.1      0.0  ...                NaN               NaN
2020-12-28      0.0      0.0  ...                NaN               NaN
2020-12-29      0.1      0.0  ...                NaN               NaN
2020-12-30      2.9      0.1  ...                NaN               NaN
2020-12-31     14.5     29.0  ...                NaN               NaN

[1827 rows x 103 columns]

In [ ]:
stationsdaily.to_csv('/content/gdrive/MyDrive/rainfall-forecast/verification_validation/final_station_data_daily_v2_corrected.csv')
# stationsmonthly.to_csv('/content/gdrive/MyDrive/rainfall-forecast/verification_validation/final_station_data_monthly_CHIRPScorrected.csv')